

body {
    margin: 0;
    display: flex;
    height: 100vh;
}

.left-half {
    background-color: #0c4a0c;
    
    flex: 1;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-half {
    background-color: #f3eded;
    
    flex: 1;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
    border-radius: 10px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Box shadow for depth */
    text-align: center;
}

.container h1 {
    color: rgb(171, 171, 17);
    
    font-size: 4em;
    
}

.container a {
    color: #116111;
   
    text-decoration: underline;
   
}

.container p {
    color: #000000;
   
}
